:host {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .card-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &__card {
            width: 100%;
            padding: 16px;
            background-color: var(--white);
            border: 1px solid var(--very-light-grey);
            border-radius: 8px;
            display: flex;
            align-items: center;
            gap: 16px;
            transition: all;
            transition-duration: 300ms;

            &:hover {
                border: 1px solid var(--purple);
                cursor: pointer;
            }

            &__plan-info {
                display: flex;
                flex-direction: column;
                gap: 8px;

                &__name {
                    font-weight: 500;
                    color: var(--denim);
                }

                &__billing {
                    font-size: 14px;
                    color: var(--grey);
                }
            }
        }
    }
}
