<div class="card-container">
    @for (planAndBilling of this.plansAndBillings; track planAndBilling.name) {
        <div
            class="card-container__card"
            [ngClass]="{
                'card-container--selected':
                    this.selectedPlanAndBilling.name === planAndBilling.name,
            }"
            (click)="onPlanClick(planAndBilling.name)"
        >
            <img
                src="{{
                    '/assets/images/icon-' +
                        planAndBilling.name.toLowerCase() +
                        '.svg'
                }}"
                alt="{{ 'plan-' + planAndBilling.name.toLowerCase() }}"
            />
            <div class="card-container__card__plan-info">
                <span class="card-container__card__plan-info__name">{{
                    planAndBilling.name
                }}</span>
                <span class="card-container__card__plan-info__billing">{{
                    planAndBilling.billing.monthly
                }}</span>
            </div>
        </div>
    }
</div>
<div class="toggle-container">
    <div class="toggle-container__toggle-and-billing">
        <span
            class="toggle-container__toggle-and-billing__billing"
            [ngClass]="{
                'toggle-container__toggle-and-billing__billing--selected':
                    selectedPlanAndBilling?.billing === 'monthly',
            }"
            >Monthly</span
        >
        <div
            class="toggle-container__toggle-and-billing__toggle"
            (click)="onToggleClick()"
        >
            <div
                #toggleCircle
                class="toggle-container__toggle-and-billing__toggle__circle"
            ></div>
        </div>
        <span
            class="toggle-container__toggle-and-billing__billing"
            [ngClass]="{
                'toggle-container__toggle-and-billing__billing--selected':
                    selectedPlanAndBilling?.billing === 'yearly',
            }"
            >Yearly</span
        >
    </div>
</div>
