<form [formGroup]="firstStepFormGroup">
    <label for="name">Name</label>
    <input
        id="name"
        type="text"
        placeholder="e.g. Stephen King"
        formControlName="name"
    />
    <label for="email">Email Address</label>
    <input
        id="email"
        type="email"
        placeholder="e.g. stephenking@lorem.com"
        formControlName="email"
    />
    <label for="phone">Phone Number</label>
    <input
        id="phone"
        type="text"
        placeholder="e.g. +1 234 567 890"
        formControlName="phone"
    />
</form>
