<form [formGroup]="firstStepFormGroup">
    <div class="label-and-error">
        <label for="name">Name</label>
        <span *ngIf="this.formError.name">{{ this.formError.name }}</span>
    </div>
    <input
        id="name"
        type="text"
        placeholder="e.g. Stephen King"
        formControlName="name"
    />
    <div class="label-and-error">
        <label for="email">Email Address</label>
        <span *ngIf="this.formError.email">{{ this.formError.email }}</span>
    </div>
    <input
        id="email"
        type="email"
        placeholder="e.g. stephenking@lorem.com"
        formControlName="email"
    />
    <div class="label-and-error">
        <label for="phone">Phone Number</label>
        <span *ngIf="this.formError.phone">{{ this.formError.phone }}</span>
    </div>
    <input
        id="phone"
        type="text"
        placeholder="e.g. +1 234 567 890"
        formControlName="phone"
    />
</form>
