@font-face {
    font-family: 'ubuntu-regular';
    src: url('/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ubuntu-medium';
    src: url('/assets/fonts/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'ubuntu-bold';
    src: url('/assets/fonts/Ubuntu-Bold.ttf') format('truetype');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    height: 100%;
    font-family: 'ubuntu-regular';
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    --background-color: #eff5ff;
    --white: #ffffff;
    --sky-blue: #bee2fd;
    --denim: #022959;
    --grey: #9699aa;
    --purple: #483eff;
    --red: #ee374a;
    --very-light-grey: #f8f9ff;
}
